@charset "Shift_JIS";

*{
/*	font-size:14px !important;*/
	line-height:1.5;
}

body{ 
	text-align:center;
	padding:0px;
/*	font-size:80%;*/
/*	color:#444444;*/
/*	background: #C0C9C4 /*url(/img/bg.gif) repeat-x 0px 0px*/;
}

#container{ 
	text-align:left;
	border:solid 2px #BBB;
/*	background: #FFF url(../img/head.gif) no-repeat 0px 0px;*/
	background:url(../img/head.gif) no-repeat 0px 0px;
	padding:35px 3px 3px 3px;
	width: 240px;
	margin:auto;
}

#container ul,#container ul li	{ list-style:none; margin:0px; padding:0px; }

p{ margin:0px;}
