@charset "Shift_JIS";

/*
------------------------------------------------------------------------------
サイズ設定
レイアウト設定
各種配置設定
#footer設定
------------------------------------------------------------------------------
*/

#header{width:100%;}
#container{background:#fff;}


/* サイズ設定
---------------------------------------------- */
body{font-size:14px;}
#bg,
#container,
div.footer,
div#footer{
/*
width:1010px;
*/
}

/* レイアウト設定
---------------------------------------------- */
div#main{
	width:100%;
}


/* 2カラム用 */
#two_column div#main{
	width:98%;
	background:#fff;
}

#two_column div#side{
	width:0%;
	float:left;
}

/* 各種配置設定
---------------------------------------------- */
#headerC
{
	margin:0px 0px 0 3px;
}

/* 2カラム用 */
#mainC	{
	margin:15px 5px 20px 5px;
	line-height:1.7;
/*	border:1px solid #aaa;*/
}

#side #sideC{
	margin:15px 5px 10px 10px;
}

#footerC
	{padding:10px 10px 10px 10px;}


/* #footer設定
---------------------------------------------- */
div.footer,
div#footer{
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #aaa;
	background:#fff;
}

#bg div.footer,
#bg div#footer{
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #aaa;
}

#container div#footer,
#container div#footer{
	clear:both;
	width:100%;
	text-align:center;
/*	border-top:1px solid #ccc;*/
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:none;
/*	border:1px solid #ccc;*/
	margin:10px 0px 0px 0px;
	padding:0px;
}

#container br.footer,
#container br#footer{
	clear:both;
	width:100%;
	margin:0px;
}

div#footer ul{
	margin:0px;padding:0;
	width:100%;
	text-align:center;
	display:block;
	border-top:3px double #E4E4E4;
	border-bottom:1px solid #E4E4E4;
	background: #F5F5F5 url(../common/img/bg_footer.gif) repeat-x 0px 0px;
	padding:6px 0px;
}

div#footer ul li{
	display:inline;
	padding:0px 4px; 
}

div#footer ul li a{ color:#6D6E71; text-decoration:none;}
div#footer ul li a:hover{ color:#444; text-decoration: underline;}

